html {
    background: #073642;
}

body {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 100px auto;
    background: #073642;
    color: white;
}

p,ul {
    font-size: 20px;
    font-weight: 400;
}

ul {
		color: #e3dcdc;
}

a {
    color: #D33682;
    font-weight: bold;
}

* {
		color: white;
}

input[type="submit"] {
		background: #13596b;
		border-color: #246171;
		transition: 100ms ease-in;
}

input[type="submit"]:hover {
		background: #0c2a32;
		border-color: #134553;
}

#coming-soon-links {
		margin-top: 45px;
}

#coming-soon-links  li {
		display: inline;
		margin-right: 15px;
}

#coming-soon-links  a {
		display: inline;
		margin: 5px;
		font-weight: 400;
		border-bottom: 1px solid;
}

@media screen and (max-width: 750px) {
		body {
				padding: 0 15px;
				box-sizing: border-box;
				margin-top: 15px;
		}
		ul li {
				font-size: .9em;
		}
}
