<div class="email">
	<hr>
	<h3>Get notified when it is available</h3>
	<form action="https://floemedia.us12.list-manage.com/subscribe/post?u=792eb576c08df172439ec58e3&amp;id=784a9415a7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

		<div class="row">
			<div class="column">
				<label>Email</label>
				<input placeholder="your@email.com" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>

			<div class="column">
				<label>Desired Email Format</label>
				<select>
					<option value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0">HTML</option>
					<option value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1">Plain-Text</option>
				</select>
			</div>

			<div class="column">
				<label style="color: #073642; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none;">Subscribe</label>
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</div>

		<div style="position: absolute; left: -5000px;" aria-hidden="true">
			<input type="text" name="b_792eb576c08df172439ec58e3_784a9415a7" tabindex="-1" value="">
		</div>
	</form>

	<hr>
</div>
